In [1]:
# Dependencies
from sqlalchemy import create_engine
import pandas

In [2]:
# make connection to the SQLite database
engine = create_engine('sqlite:///Data/data.sqlite')
conn = engine.connect()

In [3]:
# read import data from Excel file
df = pandas.read_excel('Data/Imports.xlsx')
df.head()

,country,sitc_num,district,state,CD-CV,JAN'17,FEB'17,MAR'17,APR'17,MAY'17,...,OCT'17,NOV'17,DEC'17,JAN'18,FEB'18,MAR'18,APR'18,MAY'18,JUN'18,JUL'18
0,Canada,0 FOOD AND LIVE ANIMALS,"Anchorage, AK",AK,CD,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Canada,0 FOOD AND LIVE ANIMALS,"Baltimore, MD",MD,CD,0.0,0.0,0.0,0.0,112.0,...,0.0,0.0,0.0,0.0,0.0,0.0,5907.0,0.0,0.0,0.0
2,Canada,0 FOOD AND LIVE ANIMALS,"Boston, MA",MA,CD,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Canada,0 FOOD AND LIVE ANIMALS,"Buffalo, NY",NY,CD,225372.0,193526.0,287508.0,358111.0,292486.0,...,248163.0,267731.0,358234.0,207684.0,150484.0,420897.0,355403.0,261447.0,273125.0,265276.0
4,Canada,0 FOOD AND LIVE ANIMALS,"Charleston, SC",SC,CD,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
# using pandas to insert the Imports table in to SQLite database
df.to_sql('Imports', conn,if_exists='replace', index=False)

In [16]:
pandas.read_sql_table('Imports', conn)

,country,sitc_num,district,state,CD-CV,JAN'17,FEB'17,MAR'17,APR'17,MAY'17,...,OCT'17,NOV'17,DEC'17,JAN'18,FEB'18,MAR'18,APR'18,MAY'18,JUN'18,JUL'18
0,Canada,0 FOOD AND LIVE ANIMALS,"Anchorage, AK",AK,CD,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Canada,0 FOOD AND LIVE ANIMALS,"Baltimore, MD",MD,CD,0.0,0.0,0.0,0.0,112.0,...,0.0,0.0,0.0,0.0,0.0,0.0,5907.0,0.0,0.0,0.0
2,Canada,0 FOOD AND LIVE ANIMALS,"Boston, MA",MA,CD,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Canada,0 FOOD AND LIVE ANIMALS,"Buffalo, NY",NY,CD,225372.0,193526.0,287508.0,358111.0,292486.0,...,248163.0,267731.0,358234.0,207684.0,150484.0,420897.0,355403.0,261447.0,273125.0,265276.0
4,Canada,0 FOOD AND LIVE ANIMALS,"Charleston, SC",SC,CD,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Canada,0 FOOD AND LIVE ANIMALS,"Charlotte, NC",NC,CD,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Canada,0 FOOD AND LIVE ANIMALS,"Chicago, IL",IL,CD,0.0,0.0,1042.0,0.0,0.0,...,0.0,0.0,0.0,2592.0,0.0,203.0,0.0,0.0,0.0,0.0
7,Canada,0 FOOD AND LIVE ANIMALS,"Cleveland, OH",OH,CD,3251.0,2958.0,7207.0,1.0,3334.0,...,6368.0,344.0,8783.0,4378.0,2161.0,17661.0,9854.0,28348.0,3910.0,7776.0
8,Canada,0 FOOD AND LIVE ANIMALS,"Columbia-Snake, OR",OR,CD,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,Canada,0 FOOD AND LIVE ANIMALS,"Dallas-Fort Worth, TX",TX,CD,1731.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,158.0
10,Canada,0 FOOD AND LIVE ANIMALS,"Detroit, MI",MI,CD,495085.0,332591.0,508344.0,541451.0,325846.0,...,366435.0,485203.0,292276.0,438805.0,438529.0,475216.0,391599.0,323679.0,335377.0,435257.0
11,Canada,0 FOOD AND LIVE ANIMALS,"Duluth, MN",MN,CD,0.0,5203.0,5338.0,0.0,0.0,...,227.0,471.0,595.0,590.0,890.0,1139.0,680.0,1313.0,740.0,623.0
12,Canada,0 FOOD AND LIVE ANIMALS,"El Paso, TX",TX,CD,0.0,143.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,446.0,0.0,462.0
13,Canada,0 FOOD AND LIVE ANIMALS,"Great Falls, MT",MT,CD,43416.0,38819.0,48561.0,45170.0,33109.0,...,54191.0,75330.0,51631.0,72836.0,63230.0,50197.0,57519.0,57172.0,49522.0,23080.0
14,Canada,0 FOOD AND LIVE ANIMALS,"Honolulu, HI",HI,CD,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,Canada,0 FOOD AND LIVE ANIMALS,"Houston-Galveston, TX",TX,CD,0.0,0.0,0.0,11.0,0.0,...,0.0,0.0,0.0,0.0,8.0,0.0,17.0,0.0,10.0,0.0
16,Canada,0 FOOD AND LIVE ANIMALS,"Laredo, TX",TX,CD,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,Canada,0 FOOD AND LIVE ANIMALS,"Los Angeles, CA",CA,CD,9795.0,4972.0,1008.0,1081.0,1278.0,...,3095.0,4347.0,9495.0,4602.0,1583.0,768.0,8033.0,4492.0,2094.0,1467.0
18,Canada,0 FOOD AND LIVE ANIMALS,"Miami, FL",FL,CD,0.0,0.0,438.0,1047.0,0.0,...,0.0,0.0,133.0,1758.0,998.0,884.0,438.0,437.0,2389.0,1230.0
19,Canada,0 FOOD AND LIVE ANIMALS,"Milwaukee, WI",WI,CD,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,Canada,0 FOOD AND LIVE ANIMALS,"Minneapolis, MN",MN,CD,885.0,1956.0,0.0,0.0,280.0,...,0.0,597.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Canada,0 FOOD AND LIVE ANIMALS,"New Orleans, LA",LA,CD,1912.0,288.0,1161.0,393.0,252.0,...,796.0,0.0,144.0,225.0,799.0,5437.0,1597.0,640.0,1459.0,0.0
22,Canada,0 FOOD AND LIVE ANIMALS,"New York, NY",NY,CD,0.0,0.0,0.0,18029.0,331.0,...,450.0,0.0,0.0,6684.0,1938.0,0.0,0.0,0.0,310.0,0.0
23,Canada,0 FOOD AND LIVE ANIMALS,"Norfolk, VA",VA,CD,0.0,0.0,0.0,0.0,201.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Canada,0 FOOD AND LIVE ANIMALS,"Nogales, AZ",AZ,CD,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,Canada,0 FOOD AND LIVE ANIMALS,"Ogdensburg, NY",NY,CD,103245.0,83282.0,79174.0,98043.0,127096.0,...,214870.0,180403.0,187874.0,178991.0,187228.0,157455.0,169279.0,203840.0,205854.0,218605.0
26,Canada,0 FOOD AND LIVE ANIMALS,"Pembina, ND",ND,CD,7429.0,2636.0,5990.0,1162.0,5132.0,...,1585.0,21447.0,3163.0,2102.0,4464.0,3750.0,5084.0,7755.0,454.0,6923.0
27,Canada,0 FOOD AND LIVE ANIMALS,"Philadelphia, PA",PA,CD,0.0,73679.0,195.0,0.0,0.0,...,771.0,8834.0,0.0,376.0,0.0,1618.0,2022.0,847.0,0.0,0.0
28,Canada,0 FOOD AND LIVE ANIMALS,"Portland, ME",ME,CD,10459.0,10413.0,8546.0,0.0,8760.0,...,408.0,7127.0,5565.0,4265.0,5338.0,13231.0,5905.0,5118.0,13702.0,0.0
29,Canada,0 FOOD AND LIVE ANIMALS,"San Diego, CA",CA,CD,109.0,105.0,0.0,0.0,0.0,...,724.0,92.0,0.0,0.0,0.0,0.0,0.0,0.0,247.0,205.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5974,Mexico,9 COMMODITIES AND TRANSACTIONS NOT CLASSIFIED ...,"El Paso, TX",TX,CV,95291418.0,120689831.0,132260789.0,106510864.0,131706345.0,...,123046223.0,128308811.0,110638553.0,115493258.0,123267833.0,127702149.0,115368875.0,121812465.0,133099036.0,109859010.0
5975,Mexico,9 COMMODITIES AND TRANSACTIONS NOT CLASSIFIED ...,"Great Falls, MT",MT,CV,48507738.0,51777121.0,68563547.0,59722472.0,64597394.0,...,68280076.0,32804588.0,63302414.0,53641566.0,101773350.0,110503671.0,69105501.0,91190202.0,82382000.0,80047673.0
5976,Mexico,9 COMMODITIES AND TRANSACTIONS NOT CLASSIFIED ...,"Honolulu, HI",HI,CV,0.0,0.0,0.0,0.0,0.0,...,2714.0,0.0,0.0,0.0,3950.0,0.0,0.0,0.0,0.0,0.0
5977,Mexico,9 COMMODITIES AND TRANSACTIONS NOT CLASSIFIED ...,"Houston-Galveston, TX",TX,CV,4564105.0,5328308.0,15166534.0,5487031.0,17345363.0,...,4861854.0,4520997.0,3898648.0,3369626.0,6042876.0,4092468.0,3387204.0,4207647.0,3355294.0,15367577.0
5978,Mexico,9 COMMODITIES AND TRANSACTIONS NOT CLASSIFIED ...,"Laredo, TX",TX,CV,182793601.0,174358914.0,216792410.0,203268836.0,195170886.0,...,225880594.0,216116261.0,219691068.0,192783499.0,193757729.0,186561702.0,204196744.0,236490686.0,238994986.0,215155180.0
5979,Mexico,9 COMMODITIES AND TRANSACTIONS NOT CLASSIFIED ...,"Los Angeles, CA",CA,CV,4702055.0,1113669.0,2211932.0,650526.0,4251010.0,...,4046209.0,2072203.0,28513601.0,4761337.0,4408372.0,3394939.0,3577674.0,4503479.0,3898368.0,3504005.0
5980,Mexico,9 COMMODITIES AND TRANSACTIONS NOT CLASSIFIED ...,Low-valued imports and exports,Low-valued imports and exports,CV,209132934.0,199291653.0,228531386.0,203223977.0,208448459.0,...,216731372.0,207300778.0,183212004.0,204581971.0,260774340.0,220782627.0,219836280.0,224328542.0,216675991.0,208395187.0
5981,Mexico,9 COMMODITIES AND TRANSACTIONS NOT CLASSIFIED ...,"Miami, FL",FL,CV,57625126.0,60070816.0,89779429.0,47315309.0,65646941.0,...,73686148.0,82025966.0,56807717.0,56696950.0,70894424.0,103668035.0,63913445.0,72305074.0,78432129.0,71498946.0
5982,Mexico,9 COMMODITIES AND TRANSACTIONS NOT CLASSIFIED ...,"Milwaukee, WI",WI,CV,0.0,2091.0,0.0,0.0,30973.0,...,0.0,0.0,7500.0,0.0,0.0,23669.0,0.0,0.0,41196.0,79454.0
5983,Mexico,9 COMMODITIES AND TRANSACTIONS NOT CLASSIFIED ...,"Minneapolis, MN",MN,CV,16153.0,0.0,0.0,15000.0,2707.0,...,9270.0,70000.0,13624.0,18040.0,159386.0,0.0,17000.0,34530.0,15734.0,49018.0
5984,Mexico,9 COMMODITIES AND TRANSACTIONS NOT CLASSIFIED ...,"Mobile, AL",AL,CV,11394.0,70411.0,86361.0,182000.0,498124.0,...,91530.0,200052.0,71551.0,96095.0,95400.0,226029.0,167116.0,237009.0,206519.0,96032.0
5985,Mexico,9 COMMODITIES AND TRANSACTIONS NOT CLASSIFIED ...,"New Orleans, LA",LA,CV,20685413.0,38738262.0,29737835.0,44712745.0,34293677.0,...,25812847.0,29258003.0,24995445.0,26407164.0,24581274.0,26274802.0,28953147.0,34064476.0,24343010.0,33068806.0
5986,Mexico,9 COMMODITIES AND TRANSACTIONS NOT CLASSIFIED ...,"New York, NY",NY,CV,9209751.0,17293256.0,14135789.0,5439537.0,729662.0,...,3466417.0,7240121.0,4092489.0,10843578.0,16347920.0,6253027.0,5608306.0,2362682.0,3046648.0,3259227.0
5987,Mexico,9 COMMODITIES AND TRANSACTIONS NOT CLASSIFIED ...,"Nogales, AZ",AZ,CV,82326245.0,75807508.0,72402681.0,152119859.0,62347782.0,...,67488220.0,63552373.0,80110017.0,65777208.0,65795716.0,71001205.0,75740790.0,71912111.0,61359833.0,66477005.0
5988,Mexico,9 COMMODITIES AND TRANSACTIONS NOT CLASSIFIED ...,"Norfolk, VA",VA,CV,0.0,0.0,0.0,114476.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5989,Mexico,9 COMMODITIES AND TRANSACTIONS NOT CLASSIFIED ...,"Ogdensburg, NY",NY,CV,5244.0,70654.0,107011.0,56120.0,115957.0,...,177740.0,116734.0,13160.0,28280.0,23147.0,128292.0,84976.0,233199.0,249010.0,240425.0
5990,Mexico,9 COMMODITIES AND TRANSACTIONS NOT CLASSIFIED ...,"Pembina, ND",ND,CV,28299.0,66517.0,0.0,29363.0,37756.0,...,51250.0,34558.0,0.0,0.0,0.0,41736.0,26000.0,15176.0,0.0,0.0
5991,Mexico,9 COMMODITIES AND TRANSACTIONS NOT CLASSIFIED ...,"Philadelphia, PA",PA,CV,76409.0,1524010.0,1404769.0,1016766.0,84525.0,...,87150.0,40269.0,111300.0,21585.0,51700.0,84600.0,19100.0,23548.0,193051.0,74868.0
5992,Mexico,9 COMMODITIES AND TRANSACTIONS NOT CLASSIFIED ...,"Port Arthur, TX",TX,CV,0.0,0.0,0.0,0.0,206897.0,...,9300.0,725386.0,3200.0,0.0,0.0,0.0,0.0,0.0,0.0,12832775.0
5993,Mexico,9 COMMODITIES AND TRANSACTIONS NOT CLASSIFIED ...,"Portland, ME",ME,CV,2590.0,0.0,0.0,4509.0,0.0,...,0.0,5338.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5994,Mexico,9 COMMODITIES AND TRANSACTIONS NOT CLASSIFIED ...,"San Diego, CA",CA,CV,99276034.0,97462032.0,113014201.0,113262794.0,130591928.0,...,131450148.0,124890275.0,111527649.0,117690848.0,118897695.0,132596008.0,128399005.0,131811659.0,129055142.0,129165537.0
5995,Mexico,9 COMMODITIES AND TRANSACTIONS NOT CLASSIFIED ...,"San Francisco, CA",CA,CV,2481423.0,1002704.0,1458946.0,3159759.0,1819766.0,...,1850459.0,836506.0,792546.0,1028352.0,844695.0,889483.0,771373.0,1214765.0,767938.0,877738.0
5996,Mexico,9 COMMODITIES AND TRANSACTIONS NOT CLASSIFIED ...,"San Juan, PR",PR,CV,1800022.0,1761217.0,1651140.0,2867057.0,2317819.0,...,3843783.0,2357535.0,1748560.0,1902536.0,2367418.0,3320114.0,5331334.0,4223960.0,3892524.0,2696779.0
5997,Mexico,9 COMMODITIES AND TRANSACTIONS NOT CLASSIFIED ...,"Savannah, GA",GA,CV,257134.0,215766.0,688411.0,401068.0,458409.0,...,304208.0,173846.0,474421.0,398907.0,192927.0,1381976.0,1583162.0,135303.0,383650.0,891523.0
5998,Mexico,9 COMMODITIES AND TRANSACTIONS NOT CLASSIFIED ...,"Seattle, WA",WA,CV,120410.0,250027.0,148163.0,210402.0,872693.0,...,104780.0,21384.0,1200111.0,56062.0,31317.0,159296.0,237195.0,38828.0,66176.0,72807.0
5999,Mexico,9 COMMODITIES AND TRANSACTIONS NOT CLASSIFIED ...,"St. Albans, VT",VT,CV,0.0,0.0,0.0,0.0,0.0,...,3452.0,3366.0,0.0,0.0,0.0,0.0,2431.0,2667.0,0.0,127504.0
6000,Mexico,9 COMMODITIES AND TRANSACTIONS NOT CLASSIFIED ...,"St. Louis, MO",MO,CV,273551.0,338054.0,631825.0,382335.0,288052.0,...,194757.0,166328.0,299601.0,336269.0,214279.0,232636.0,139908.0,275038.0,5011070.0,255649.0
6001,Mexico,9 COMMODITIES AND TRANSACTIONS NOT CLASSIFIED ...,"Tampa, FL",FL,CV,364916.0,1120669.0,789553.0,2075347.0,1427409.0,...,2511101.0,346806.0,1783893.0,469138.0,758537.0,25310493.0,1216449.0,968207.0,311638.0,217620.0
6002,Mexico,9 COMMODITIES AND TRANSACTIONS NOT CLASSIFIED ...,Vessels under their own power (imports and exp...,Vessels under their own power (imports and exp...,CV,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,17522.0,0.0,0.0,0.0,0.0
6003,Mexico,9 COMMODITIES AND TRANSACTIONS NOT CLASSIFIED ...,"Washington, DC",DC,CV,26214.0,23286.0,59780.0,58261.0,165226.0,...,748447.0,5244.0,0.0,0.0,36301.0,227000.0,0.0,73842.0,0.0,79231.0

In [5]:
# read export data from Excel file
df = pandas.read_excel('Data/Exports.xlsx')
df.head()

,Country,SITC,State,JAN'17,FEB'17,MAR'17,APR'17,MAY'17,JUN'17,JUL'17,...,OCT'17,NOV'17,DEC'17,JAN'18,FEB'18,MAR'18,APR'18,MAY'18,JUN'18,JUL'18
0,EURO,1 BEVERAGES AND TOBACCO,WA,413782,465049,635910,396363,866362,727350,983737,...,937518,408414,675704,260446.0,428115.0,482415.0,721242.0,670221.0,511493.0,872526.0
1,EURO,"2 CRUDE MATERIALS, INEDIBLE, EXCEPT FUELS",FL,5566736,11220507,5790234,7448820,4150485,5964870,1889437,...,23400653,11776316,9028999,10347136.0,7174299.0,16913717.0,9267172.0,8153824.0,10018449.0,2969189.0
2,EURO,1 BEVERAGES AND TOBACCO,CA,1933960,1088749,1356968,2101371,1589124,857152,2577457,...,935325,2688175,1804779,1441691.0,951297.0,1461740.0,2197973.0,1794314.0,2060219.0,2211354.0
3,EURO,"3 MINERAL FUELS, LUBRICANTS AND RELATED MATERIALS",MN,0,0,2616,5232,7847,7848,25432,...,6539,0,3203,14223.0,10156.0,8316.0,0.0,6618.0,2897.0,9265.0
4,EURO,"3 MINERAL FUELS, LUBRICANTS AND RELATED MATERIALS",TX,170870403,117205710,117122744,156830143,94326893,192029786,253811761,...,400221941,376463270,265184856,267799382.0,162455078.0,127168312.0,214643682.0,251993153.0,410841116.0,397720019.0

In [18]:
# using pandas to insert the Imports table in to SQLite database
df.to_sql('Exports', conn,if_exists='replace', index=False)

In [7]:
import os

import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)

In [9]:
#################################################
# Database Setup
#################################################

app.config["SQLALCHEMY_DATABASE_URI"] = "sqlite:///Data/data.sqlite"
db = SQLAlchemy(app)

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(db.engine, reflect=True)

# # Save references to each table
# # Samples_Metadata = Base.classes.Exports
# # Samples = Base.classes.Imports
# exports = Base.classes.Exports
# imports = Base.classes.Imports

C:\Users\Wusi\Anaconda3\envs\PythonData\lib\site-packages\flask_sqlalchemy\__init__.py:794: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [14]:
Base.classes.values()

[]